<div class="container-fluid" style="margin-top: 5px">
  <mat-card>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="button">
      <h4>{{event.name}}&nbsp;&nbsp;&nbsp;
          <button mat-stroked-button *ngIf="!subscribe && !isCreator()" color="primary" (click)="subscribeOn()">Подписаться</button>
          <button mat-stroked-button *ngIf="subscribe && !isCreator()" color="warn" (click)="subscribeOff()">Отписаться</button>
      </h4>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="notification" style="text-align: center">
      Подписаться на событие и добавлять комментарии могут только авторизированные пользователи!
    </div>

    <br>
    <table>
      <tr>
        <td><b>Создатель события:&nbsp;</b></td>
        <td>{{event.nameCreator}}</td>
      </tr>
    </table>

    <table>
      <tr>
        <td><b>Дата и время:&nbsp;</b></td>
        <td>{{event.dateEvent | date: 'dd.MM.yyyy'}} {{getTime(event)}}&nbsp;&nbsp;&nbsp;</td>
<!--        <td>{{event.dateEvent | date: 'dd.MM.yyyy h:m': '0000': 'ru'}}&nbsp;&nbsp;&nbsp;</td>-->
        <td><b>Категория:&nbsp;</b></td>
        <td>{{event.category}}&nbsp;&nbsp;&nbsp;</td>
        <td><b>Участники:&nbsp;</b></td>
        <td>{{event.participantsCount}}</td>
      </tr>
    </table>

    <br>
    <table>
      <tr>
        <td><b>Адрес:&nbsp;</b></td>
        <td>{{event.address}}</td>
      </tr>
      <br>
      <tr>
        <td valign="top"><b>Описание:&nbsp;</b></td>
        <td valign="top">{{event.description}}</td>
      </tr>
    </table>
    <br>
    <div class="button">
      <b>Комментарии:</b>
    </div>

    <table class="table">
      <tbody>

      <tr *ngFor="let c of comments">
        <td>{{c.userName}}:</td>
        <td>{{c.commentText}}</td>
        <td></td>
      </tr>

      <tr>
        <td>Вы:</td>
        <td>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Текст комментария" [(ngModel)]="commentText" name="commentText">
        </td>
        <td>
          <button mat-stroked-button color="primary" (click)="addComment()">Добавить комментарий</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-1"></div>
</div>
  </mat-card>
</div>


