<div class="container-fluid" style="margin-top: 5px">

  <div class="row">
    <div class="col-2" >
      <h5 style="margin-top: 18px">Сортировка:&nbsp;</h5>
    </div>

    <div class="col-10">
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select>
          <mat-option>Футбол</mat-option>
          <mat-option>Баскетбол</mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <mat-label>Город</mat-label>
        <mat-select>
          <mat-option>Москва</mat-option>
          <mat-option>Воронеж</mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <mat-label>Дата</mat-label>
        <mat-select>
          <mat-option>Раньше</mat-option>
          <mat-option>Позже</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;

      <button mat-raised-button color="primary">Отсортировать</button>

    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2">

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Название события</h5>
          <p class="card-text">Категория: футбол</p>
          <p class="card-text">много букав много букав много букав много букав много букав</p>

          <button mat-stroked-button color="primary">Подписаться</button>&nbsp;
          <button mat-stroked-button>Подробнее</button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Название события</h5>
          <p class="card-text">Категория: футбол</p>
          <p class="card-text">много букав много букав много букав много букав много букав</p>

          <button mat-stroked-button color="primary">Подписаться</button>&nbsp;
          <button mat-stroked-button>Подробнее</button>
        </div>
      </div>
    </div>
    

  </div>


</div>
