<div class="container-fluid" style="margin-top: 5px">

  <div class="row">
    <div class="col-2" >
      <h5 style="margin-top: 18px">Сортировка:&nbsp;</h5>
    </div>

    <div class="col-10">
      <mat-form-field>
        <mat-label>Категория</mat-label>
        <mat-select [(ngModel)]="categorySelected" name="category">
          <mat-option *ngFor="let c of categories" [value]="c.value">
            {{c.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <mat-label>Город</mat-label>
        <mat-select [(ngModel)]="citySelected" name="city">
          <mat-option *ngFor="let c of city" [value]="c.value">
            {{c.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <mat-form-field>
        <mat-label>Дата события</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      &nbsp;

      <button mat-raised-button color="primary" (click)="getSorted()">Отсортировать</button>&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="getEvents()">Показать всё подряд</button>
    </div>
  </div>

  <div class="alert alert-success" role="alert" *ngIf="length == 0" style="text-align: center">
    Не нашлось ни одного события! Попробуйте указать другие параметры сортировки
  </div>

  <div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-3" *ngFor="let e of events; index as i">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{e.name}}</h5>
          <p class="card-text">Категория: {{e.category}}</p>
          <p class="card-text">{{e.description}}</p>

          <button mat-stroked-button color="primary">Подписаться</button>&nbsp;
          <button mat-stroked-button>Подробнее</button>
        </div>
      </div>
    </div>


  </div>

</div>
