<div class="container-fluid" style="margin-top: 5px" *ngIf="auth.isAdministrator">

  <mat-tab-group>
    <mat-tab label="Добавление модераторов">

      <mat-form-field class="example-full-width" style="margin-right: 5px">
        <mat-label>Поиск</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Найти</button>
      <br>

      <mat-card>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Пользователь 1</td>
            <td>
              <button mat-stroked-button color="primary">Сделать модератором</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card>
    </mat-tab>


    <mat-tab label="Снятие модераторов">
      <mat-form-field class="example-full-width" style="margin-right: 5px">
        <mat-label>Поиск</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Найти</button>
      <br>

      <mat-card>
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Пользователь 1</td>
            <td>
              <button mat-stroked-button color="primary">Снять модераторские полномочия</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>
