<div class="container-fluid" style="margin-top: 5px" *ngIf="auth.isAdministrator">

  <mat-tab-group>
    <mat-tab label="Добавление модераторов">

      <mat-form-field class="example-full-width" style="margin-right: 5px">
        <mat-label>Поиск</mat-label>
        <input matInput [(ngModel)]="userName" name="userName">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="findUsers()">Найти</button>
      <br>

      <mat-card style="max-width: 750px">
        <div class="alert alert-success" role="alert" *ngIf="usersCount == 0" style="text-align: center">
          Нет пользователей, которые могут получить права модератора
        </div>

        <table class="table">
          <tbody>
          <tr *ngFor="let user of users; index as i">
            <td>{{user.login}}</td>
            <td>
              <button mat-stroked-button color="primary" (click)="addModerator(users[i])" >Сделать модератором</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card>
    </mat-tab>


    <mat-tab label="Снятие модераторов">
      <mat-form-field class="example-full-width" style="margin-right: 5px">
        <mat-label>Поиск</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Найти</button>
      <br>

      <mat-card style="max-width: 750px">
        <div class="alert alert-success" role="alert" *ngIf="moderatorCount == 0" style="text-align: center">
          Нет пользователей с правами модератора
        </div>

        <table class="table">
          <tbody>
          <tr *ngFor="let moderator of moderators; index as i">
            <td>{{moderator.login}}</td>
            <td>
              <button mat-stroked-button color="primary" (click)="removeModerator(moderators[i])">Снять модераторские полномочия</button>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>
