<div class="container-fluid" style="margin-top: 5px" *ngIf="auth.isUser">

  <ul class="nav nav-tabs">
    <h2>Личный кабинет</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks " href="/cabinet/subscriptions">Мои подписки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks active" href="/cabinet/events">Мои события</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks" href="/cabinet/user_data">Мои данные</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks" href="/cabinet/create_event">Создание события</a>
    </li>
  </ul>

  <div class="row" style="margin-top: 15px">
    <div class="col-1"></div>

    <div class="col-9">

      <mat-card>
        <div class="alert alert-success" role="alert" *ngIf="length == 0" style="text-align: center">
          Вы пока не создали ни одного события! Создайте первое событие <a href="/cabinet/create_event">здесь</a>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата</th>
            <th scope="col">Участники</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let e of events; index as i">
            <td>{{events[i].name}}</td>
            <td>{{events[i].dateEvent | date: 'dd.MM.yyyy'}}</td>
<!--            <td>{{events[i].dateEvent | date: 'dd.MM.yyyy'}} {{events[i].dateEvent.getHours()}}:{{events[i].dateEvent.getMinutes()}}</td>-->
            <td>{{events[i].participantsCount}}</td>
            <td>
              <button mat-stroked-button color="primary" (click)="detailedEvent(events[i])">Подробнее</button>&nbsp;&nbsp;
              <button mat-stroked-button color="accent" (click)="editEvent(events[i])">Редактировать</button>&nbsp;&nbsp;
              <button mat-stroked-button color="warn" (click)="deleteEvent(events[i])">Удалить</button>
            </td>
          </tr>

          </tbody>
        </table>
      </mat-card>

    </div>

    <div class="col-1"></div>
  </div>

</div>

