<div class="container-fluid" style="margin-top: 5px" *ngIf="auth.isModerator">

<mat-tab-group>
  <mat-tab label="Поиск">

    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск пользователей</mat-label>
      <input matInput [(ngModel)]="userName" name="userName">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-right: 30px" (click)="findUser()">Найти</button>



    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск событий</mat-label>
      <input matInput [(ngModel)]="eventName" name="eventName">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="findEvent()">Найти</button>

    <br>

    <mat-card>

      <div class="alert alert-success" role="alert" *ngIf="foundUserNotification" style="text-align: center">
        Пользователя с таким логином не нашлось. Попробуйте ввести другой логин.
      </div>

      <table class="table" *ngIf="seeFoundUser">
        <tbody>
        <tr>
          <td>{{foundUser.login}}</td>
          <td>
            <button mat-stroked-button color="primary" *ngIf="isBannedUser(foundUser)" (click)="unlockUser(foundUser)">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn" *ngIf="!isBannedUser(foundUser)" (click)="lockUser(foundUser)">Заблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="alert alert-success" role="alert" *ngIf="foundEventsCount === 0 && seeFoundEvents" style="text-align: center">
        Событий с таким названием не нашлось. Попробуйте ввести другое название события.
      </div>

      <table class="table" *ngIf="foundEventsCount > 0">
        <tbody>
        <tr *ngFor="let event of foundEvents; index as i">
          <td>{{event.name}}</td>
          <td>{{event.nameCreator}}</td>
          <td>{{event.participantsCount}}</td>
          <td>
            <button mat-stroked-button color="primary" (click)="detailedEvent(foundEvents[i])">Подробнее</button>&nbsp;&nbsp;
            <button mat-stroked-button color="primary" *ngIf="isBannedEvent(foundEvents[i])" (click)="unlockEvent(foundEvents[i])">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn" *ngIf="!isBannedEvent(foundEvents[i])" (click)="lockEvent(foundEvents[i])">Заблокировать</button>
          </td>
        </tr>

        </tbody>
      </table>

    </mat-card>
  </mat-tab>


  <mat-tab label="Заблокированные пользователи">
    <mat-card style="max-width: 750px">

      <div class="alert alert-success" role="alert" *ngIf="bannedUsersCount == 0" style="text-align: center">
        Нет заблокированных пользователей.
      </div>

      <table class="table">
        <tbody>
        <tr *ngFor="let user of bannedUsers; index as i">
          <td>{{bannedUsers[i].login}}</td>
          <td>
            <button mat-stroked-button color="primary" (click)="unlockUser(bannedUsers[i])">Разблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

    </mat-card>
  </mat-tab>

  <mat-tab label="Заблокированные события">
    <mat-card>

      <div class="alert alert-success" role="alert" *ngIf="bannedEventsCount == 0" style="text-align: center">
        Нет заблокированных событий.
      </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Создатель</th>
        <th scope="col">Участники</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of bannedEvents; index as i">
        <td>{{event.name}}</td>
        <td>{{event.nameCreator}}</td>
        <td>{{event.participantsCount}}</td>
        <td>
          <button mat-stroked-button color="primary" (click)="detailedEvent(bannedEvents[i])">Подробнее</button>&nbsp;&nbsp;
          <button mat-stroked-button color="warn" (click)="unlockEvent(bannedEvents[i])">Разблокировать</button>
        </td>
      </tr>

      </tbody>
    </table>
  </mat-card>
  </mat-tab>

</mat-tab-group>
</div>
