<div class="container-fluid" style="margin-top: 5px">

<mat-tab-group>
  <mat-tab label="Поиск">

    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск пользователей</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-right: 30px">Найти</button>



    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск событий</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary">Найти</button>

    <br>

    <mat-card>
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn">Заблокировать</button>
          </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn">Заблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

    </mat-card>
  </mat-tab>


  <mat-tab label="Заблокированные пользователи">
    <mat-card>
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>
          </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

    </mat-card>
  </mat-tab>

  <mat-tab label="Заблокированные события">
    <mat-card>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Название</th>
        <th scope="col">Дата</th>
        <th scope="col">Участники</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Пятничный футбол</td>
        <td>12,02,20 14-00</td>
        <td>20/25</td>
        <td>
          <button mat-stroked-button color="primary">Подробнее</button>&nbsp;&nbsp;
          <button mat-stroked-button color="warn">Разблокировать</button>
        </td>
      </tr>

      </tbody>
    </table>
  </mat-card>
  </mat-tab>

</mat-tab-group>
</div>
