<div class="container-fluid" style="margin-top: 5px" *ngIf="auth.isModerator">

<mat-tab-group>
  <mat-tab label="Поиск">

    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск пользователей</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-right: 30px">Найти</button>



    <mat-form-field class="example-full-width" style="margin-right: 5px">
      <mat-label>Поиск событий</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary">Найти</button>

    <br>

    <mat-card>
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn">Заблокировать</button>
          </td>
        </tr>

        <tr>
          <th scope="row">1</th>
          <td>Пользователь 1</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>&nbsp;&nbsp;
            <button mat-stroked-button color="warn">Заблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

    </mat-card>
  </mat-tab>


  <mat-tab label="Заблокированные пользователи">
    <mat-card style="max-width: 750px">

      <div class="alert alert-success" role="alert" *ngIf="bannedUsersCount == 0" style="text-align: center">
        Нет заблокированных пользователей.
      </div>

      <table class="table">
        <tbody>
        <tr *ngFor="let user of bannedUsers; index as i">
          <td>{{user.login}}</td>
          <td>
            <button mat-stroked-button color="primary">Разблокировать</button>
          </td>
        </tr>
        </tbody>
      </table>

    </mat-card>
  </mat-tab>

  <mat-tab label="Заблокированные события">
    <mat-card>

      <div class="alert alert-success" role="alert" *ngIf="bannedEventsCount == 0" style="text-align: center">
        Нет заблокированных событий.
      </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Создатель</th>
        <th scope="col">Дата</th>
        <th scope="col">Участники</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of bannedEvents; index as i">
        <td>{{event.name}}</td>
        <td>{{event.nameCreator}}</td>
        <td>{{event.dateEvent | date: 'dd.MM.yyyy'}} {{getTime(event)}}</td>
        <td>{{event.participantsCount}}</td>
        <td>
          <button mat-stroked-button color="primary" (click)="detailedEvent(bannedEvents[i])">Подробнее</button>&nbsp;&nbsp;
          <button mat-stroked-button color="warn" (click)="unlockEvent(bannedEvents[i])">Разблокировать</button>
        </td>
      </tr>

      </tbody>
    </table>
  </mat-card>
  </mat-tab>

</mat-tab-group>
</div>
