<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-4"></div>

    <div class="col-4">

      <div class="button">
        <h2>Регистрация</h2>
      </div>

      <form>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="registerUser.login" name="login" aria-describedby="emailHelp" placeholder="Логин">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="registerUser.city" name="city" aria-describedby="emailHelp" placeholder="Город">
        </div>

        <div class="form-group">
          <input type="number" class="form-control" [(ngModel)]="registerUser.age" name="age" aria-describedby="emailHelp" placeholder="Возраст">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="registerUser.password" name="password" placeholder="Пароль">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Подтверждение пароля">
        </div>

        <div class="button" style="margin-bottom: 5px">
          <a style="color: white" class="btn btn-primary" (click)="register()">Зарегистрироваться</a>&nbsp;
          <a style="color: white" href="/login" class="btn btn-primary" >Войти</a>&nbsp;
        </div>

      </form>
    </div>

    <div class="col-4"></div>
  </div>

</div>
