<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-5">
      <mat-card>
      <div class="button">
        <h3>Регистрация</h3>
      </div>

        <div class="button">
          <mat-form-field style="min-width: 250px">
            <mat-label>Логин</mat-label>
            <input matInput [(ngModel)]="registerUser.login" name="login" aria-describedby="emailHelp">
          </mat-form-field>
        </div>

        <div class="button">
        <mat-form-field style="min-width: 250px">
          <mat-label>Населённый пункт</mat-label>
          <mat-select [(ngModel)]="selectedCity" name="city">
            <mat-option *ngFor="let c of city" [value]="c.value">
              {{c.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div class="button">
        <mat-form-field class="example-full-width" style="min-width: 250px">
          <mat-label>Дата рождения</mat-label>
          <input matInput value="" type="datetime-local" [(ngModel)]="registerUser.age" name="age">
        </mat-form-field>
        </div>

        <div class="button">
          <mat-form-field  style="min-width: 250px">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="registerUser.password" name="password">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="button">
          <mat-form-field  style="min-width: 250px">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="confirmPassword" name="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="button" style="margin-bottom: 5px">
          <button mat-raised-button color="primary" (click)="register()">Зарегистрироваться</button>&nbsp;&nbsp;
          <a mat-raised-button href="/login">Войти</a>
        </div>

      </mat-card>
    </div>

    <div class="col-4"></div>
  </div>

</div>
