<div class="container-fluid" style="margin-top: 5px">

  <ul class="nav nav-tabs">
    <h2>Личный кабинет</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks " href="/cabinet/subscriptions">Мои подписки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks " href="/cabinet/events">Мои события</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks" href="/cabinet/user_data">Мои данные</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mycabinetnavlinks active" href="/cabinet/create_event">Создание события</a>
    </li>
  </ul>

  <div class="row" style="margin-top: 15px">
    <div class="col-1"></div>

    <div class="col-9">
      <mat-card>
        <div class="row">

          <div class="col-6">
            <h5>1. Название события</h5>
            <mat-form-field class="example-full-width" style="min-width: 70%">
              <input matInput placeholder="Введите название" [(ngModel)]="cEvent.name" name="name" >
            </mat-form-field>

            <h5>2. Описание события</h5>
            <mat-form-field style="min-width: 70%">
              <textarea matInput placeholder="Введите описание" [(ngModel)]="cEvent.description" name="description"></textarea>
            </mat-form-field>

            <h5>3. Выбор категории</h5>
            <mat-form-field style="min-width: 70%">
              <mat-label>Категория события</mat-label>
              <mat-select [(ngModel)]="selectedCategory" name="city">
                <mat-option *ngFor="let c of categories" [value]="c.value">
                  {{c.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h5>4. Адрес события</h5>
            <mat-form-field class="example-full-width" style="min-width: 70%">
              <input matInput placeholder="Укажите адрес" [(ngModel)]="cEvent.address" name="address">
            </mat-form-field>

          </div>


          <div class="col-6">

            <h5>5. Ожидаемое количество участников</h5>
            <mat-form-field class="example-full-width" style="min-width: 70%">
              <input matInput type="number" min="1" placeholder="Укажите количество" [(ngModel)]="cEvent.participantsCount" name="participantsCount">
            </mat-form-field>

            <h5>6. Дата события</h5>
            <mat-form-field style="min-width: 70%">
              <mat-label>Дата рождения</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <h5>7. Время события</h5>
            <mat-form-field class="example-full-width" style="min-width: 70%">
              <input matInput value="" type="time" [(ngModel)]="time" name="time">
            </mat-form-field>

            <br>

            <h5>8. Город события</h5>
            <mat-form-field style="min-width: 70%">
              <mat-label>Город</mat-label>
              <mat-select [(ngModel)]="citySelected" name="city">
                <mat-option *ngFor="let c of city" [value]="c.value">
                  {{c.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>

            <button mat-raised-button color="primary" (click)="createEventAction()">Создать событие</button>
          </div>

        </div>

      </mat-card>
    </div>


    <div class="col-1"></div>

  </div>

</div>

