<div class="button" style="background-color: #13BDF4;">
  <a href=""><img [src]="logoSrc" style="max-height: 150px; max-width: 250px; margin-top: 5px"></a>
</div>

<div class="inner" style="background-color: #13BDF4">
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active mynavlinks" href="/event_search">Поиск событий</a>
    <a class="nav-link mynavlinks" href="/cabinet">Личный кабинет</a>
    <a class="nav-link mynavlinks" href="/moderation">Модерация</a>
    <a class="nav-link mynavlinks" href="#">Администрирование</a>
    <a *ngIf="!auth.logIn" class="nav-link mynavlinks" href="/login">Вход</a>
    <a *ngIf="auth.logIn" class="nav-link mynavlinks" >{{auth.username}}</a>
    <a href="" *ngIf="auth.logIn" class="nav-link mynavlinks" (click)="auth.logout()">Выход</a>
  </nav>
</div>
