<div class="container-fluid">
<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark mylogo" href="">TeamScanner</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="btn btn-sm btn-outline-secondary" href="#">Вход</a>&nbsp;
      <a class="btn btn-sm btn-outline-secondary" href="#">Регистрация</a>
    </div>
  </div>
</header>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark mynavlinks" href="#">Поиск событий</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark mynavlinks" href="#">Личный кабинет</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark mynavlinks" href="#">Модерация</a>
      </li>
    </ul>
  </div>
</nav>


