<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
      <div class="col-4"></div>

      <div class="col-4">

        <div class="button">
        <h2>Вход</h2>
        </div>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="authUser.login" name="login" aria-describedby="emailHelp" placeholder="Логин">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="authUser.password" name="password" placeholder="Пароль">
          </div>

          <div class="button" style="margin-bottom: 5px">
            <a style="color: white" class="btn btn-primary" (click)="signIn()">Войти</a>&nbsp;
            <a style="color: white" href="/register" class="btn btn-primary">Зарегистрироваться</a>
          </div>

        </form>
      </div>

      <div class="col-4"></div>
    </div>

</div>
