<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
      <div class="col-4"></div>

      <div class="col-4">
        <mat-card>

          <div class="button">
            <h3>Вход</h3>
          </div>
          <br>

          <div class="button">
            <mat-form-field style="min-width: 300px">
              <mat-label>Логин</mat-label>
              <input matInput [(ngModel)]="authUser.login" name="login" aria-describedby="emailHelp" placeholder="Логин">
            </mat-form-field>
          </div>

          <div class="button">
          <mat-form-field style="min-width: 300px">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          </div>

          <div class="button" style="margin-bottom: 5px">
            <button mat-raised-button color="primary" (click)="signIn()">Войти</button>&nbsp;&nbsp;
            <a mat-raised-button href="/register">Зарегистрироваться</a>
          </div>
        </mat-card>

      </div>

      <div class="col-4"></div>
    </div>

</div>
