<div class="container-fluid" style="margin-top: 10px">

  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">

      <table>
        <tr>
          <td><a (click)="footballSort()"><img [src]="football" style="max-height: 250px; max-width: 100%" ></a></td>
          <td><a (click)="basketballSort()"><img [src]="basketball" style="max-height: 250px; max-width: 100%" ></a></td>
        </tr>
        <td><a (click)="volleyballSort()"><img [src]="volleyball" style="max-height: 250px; max-width: 100%" ></a></td>
        <td><a (click)="hockeySort()"><img [src]="hockey" style="max-height: 250px; max-width: 100%" ></a></td>
        <tr>
        </tr>
      </table>

    </div>

    <div class="col-2"></div>
  </div>
</div>
